.header {

    color:blanchedalmond;
    background-color: blueviolet;


}

.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}


.bolinha{color:blanchedalmond;
    background-color: blueviolet;}