.col, .col-4, .col-3, .col-2, .bolinha {

    border: 1px solid red;
    
    padding: 2px;
}

.row {

    border: 1px solid rgb(47, 0, 255);
    margin: 5px;
    padding: 2px;
}

.bi.bi-bell{

    font-size: 50px;
    color:blue;
}

.bi.bi-trash{

    font-size: 40px;
    color:grey;


}

#barra {
    background-color: grey;
}

#barra a {

    background-color: blue;
    color:white;
    margin: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    border-style: inset;
}

#barra a:hover{

    background-color: red;
    color:black
}